# environment variables for docker compose
.env
.env.db
.envdev
.env*
.pgadmindev
/env/
scripts/pgadmin_servers.json
env/dev/pgadmin_servers.json
/pgpassfile
/pgpassfiledev

# SQLite3 files
*.sqlite3

# postgres backups
./backups
/backups

# data preparation dictonary
/raw_data

# html templates backup
/app/templates/backup/

# other
/postgres_data
/.idea

notatnik.txt
/notes2.txt
/notatnik2.txt
/testing.py
/queries.txt

# celery beat schedule file
celerybeat-schedule
celerybeat.pid