{% load static %}
    <div class="cart-bg-overlay"></div>

    <div class="right-side-cart-area">

        <div class="cart-button">
            <a href="#" id="rightSideCart"><img src="{% static 'img/core-img/bag.svg' %}" alt=""> <span id="right-side-cart-qty">{{ cart.get_cart_qty }}</span></a>
        </div>

        <div class="cart-content d-flex">

            <div id="cart-list" class="cart-list" style="text-align: center">
                {% if cart.id %}
                <h5 class="py-3">Summary</h5>
                <ul class="summary-table pb-10">
                    <li><span>Total: </span> <span id="right-side-cart-total-value">{{ cart.get_cart_total }}</span></li>
                </ul>
                <a href="{% url 'checkout' %}" ><button class="btn-lg my-3 px-5 btn btn-dark"><i class="fas fa-shopping-cart"></i>
 Cart</button></a>
                {% for item in cart.get_cart_items %}
                <div id="right-side-item{{item.product.id}}" class="single-cart-item">
                    <a href="{{ item.product.get_absolute_url }}" >
                        <img src="{{ item.product.thumbnail.url }}" class="cart-thumb" alt=""></a>
                        <!-- Cart Item Desc -->
                        <div class="cart-item-desc">
                          <span class="product-remove"><i class="fa fa-close" aria-hidden="true"></i></span>
                            <span>{{ item.product.subdepartment.name }}</span>
                            <br><a href="{{ item.product.get_absolute_url }}" ><h6>{{ item.product.name }}</h6></a>
                            <span class="price">{% if item.product.discounted_price %}{{ item.product.discounted_price }}{% else %}{{ item.product.price }}{% endif %}
                                <item-price id="right-side-item-price{{ item.product.id }}">{% if item.amount > 1 %}x {{ item.amount }}{% endif %}</item-price>
                            </span>
                        </div>
                </div>
                {% endfor %}
                {% else %}
                <br><h5>Your cart is empty</h5>
                {% endif %}
            </div>
        </div>
    </div>
