    <h4 class="mb-3 pt-3">Payment</h4>
    <!-- Set up a container element for the button -->
    <div id="payment-area">
    {% if payment %}
        {% if payment.id %}
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Date</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">{{ payment.id }}</th>
              <td>{{ payment.updatedate }}</td>
              <td>{{ payment.status }}</td>
            </tr>
          </tbody>
        </table>
        {% else %}
        <b>Payment completed.</b><br>No payment details available currently.
        {% endif %}
    {% else %}
    <div id="paypal-button-container"></div>

    <hr class="mb-4">

    <!-- Include the PayPal JavaScript SDK -->
    <script src="https://www.paypal.com/sdk/js?client-id={{ api_key }}&currency={{ order.get_cart_currency }}"></script>

    <script>

        var total_cost = '{{ order.get_cart_total_str }}';
        var CSRF_TOKEN = getCookie('csrftoken');
        var ref_code = '{{ order.ref_code }}'
        var currency_code = '{{ order.get_cart_currency }}'

        function send_payment(details) {
            $.ajax({
                url: '/purchase/process_payment/',
                headers: {
                            'X-CSRFTOKEN': CSRF_TOKEN
                        },
                type: 'POST',
                data: {
                    'ref_code': ref_code,
                    'details': details
                },
                dataType: 'json',
                success: function(data) {
                    if (data.success) {
                        location.reload();
                    } else {
                        $("div.loading_contener").remove();
                        alert('Payment not confirmed. Please contact administrator if you made payment.');
                    }
                },
                error: function() {
                    $("div.loading_contener").remove();
                }
            });
        }

        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

            // Set up the transaction
            createOrder: function(data, actions) {
                add_loader();
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            currency_code: currency_code,
                            value: total_cost
                        }
                    }],
                    application_context: {
                        shipping_preference: "NO_SHIPPING",
                    },
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    var payment_dict = JSON.stringify(details)
                    send_payment(payment_dict);
                });
            },
            onError: function (err) {
                alert("There's an error appeard during payment");
                $("div.loading_contener").remove();
              },
            onCancel: function (err) {
                alert('Payment canceled');
                $("div.loading_contener").remove();
              }

        }).render('#paypal-button-container');
    </script>
    </div>
    {% endif %}