{% extends "base_template.html" %}
{% block title %}{% if object %} {{ object.short_name }}{% else %} Product {% endif %}{% endblock %}
{% block content %}
{% load static %}
{% load products_extras %}

<div class="container-fluid py-3">
            <div class="row">
                <section class="single_product_details_area d-flex align-items-center">
                    <div class="col-12 col-sm-12 col-md-6 clearfix">
                        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
                            <div class="carousel-inner">
                                {% for pic in images %}
                                    {% if forloop.first %}
                                    <div class="carousel-item active">
                                        <img src="{{ pic.image.url }}" alt="">
                                    </div>
                                    {% else %}
                                    <div class="carousel-item">
                                        <img src="{{ pic.image.url }}" alt="">
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 single_product_desc clearfix">
                        <p class="lead"><a href="{% url 'department' object.department.slug %}">{{ object.department.name }}</a>
                            <i class='fas fa-angle-right' style='font-size:14px; color:black'></i>
                            <a href="{% url 'subdepartment' object.department.slug object.subdepartment.slug %}">{{ object.subdepartment.name }}</a>
                            <i class='fas fa-angle-right' style='font-size:14px; color:black'></i>
                            <a href="{% url 'category' object.department.slug object.subdepartment.slug object.category.slug %}">{{ object.category.name }}</a>
                        </p>
                        <div>
                            {% if object.discounted_price %}
                            <div class="product-badge offer-badge"><span style="color:#fff;display: inline-block;">-{{ object.get_discount_value }}%</span></div>
                            {% endif %}
                            <h4 class="pt-2">{{ object.name }}</h4></div>
                        <p class="product-price">{% if object.discounted_price %}<span class="old-price">{{ object.price }}</span>{% endif %}
                            {% if object.discounted_price %}<b>{{ object.discounted_price }}</b>{% else %}<p style="color:#000;font-size:22px">{{ object.price }}</p>{% endif %}</p>
                        <p id="product-desc" class="product-desc">{{ object.description|safe }}</p>
                        <i class="fas fa-surprise"></i>
                        <div class="py-3">
                            {% if object.stock > 10 %}<span style="color: green"><i class="fas fa-check-circle fa-2x pr-2"></i> Product available</span>
                            {% elif object.stock < 10 and object.stock > 4 %}<span style="color: orange"><i class="fas fa-exclamation-circle fa-2x pr-2"></i> Not many products left</span>
                            {% elif object.stock < 5 and object.stock > 0 %}<span style="color: red"><i class="fas fa-exclamation-circle fa-2x pr-2"></i> {{ object.stock }}{% if object.stock == 1 %} product{% else %}  products{% endif %} left</span>
                            {% elif object.stock < 1 %}<span style="color: red"><i class="fas fa-times-circle fa-2x pr-2"></i> Product not available</span>
                            {% endif %}
                        </div>
                        <div class="cart-fav-box d-flex align-items-center">
                            {% if object.stock %}<button id="add_item_button" onclick="add_to_cart({{ object.id }}); return false;"
                                    class="btn btn-primary mr-2"><i class="fas fa-shopping-cart"></i> Add to cart
                            </button>
                            {% if exists_in_cart %}
                            <button id="delete_item_button" onclick="removeItem({{ object.id }}); return false;"
                                    class="btn btn-danger ml-2"><i class="fas fa-trash-alt"></i> Delete from cart
                            </button>

                            {% endif %}
                                {% else %}
                            {% endif %}
                                <button class="btn btn-info ml-2"><i class="fas fa fa-heart"></i> Add to favorite</button>
                        </div>
                    </div>
                </section>
            </div>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12">
                <div class="card tab-card">
                    <div class="card-header tab-card-header">
                        <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" id="one-tab" data-toggle="tab" href="#one" role="tab"
                                   aria-controls="One" aria-selected="true">One</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="two-tab" data-toggle="tab" href="#two" role="tab"
                                   aria-controls="Two" aria-selected="false">Two</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="three-tab" data-toggle="tab" href="#three" role="tab"
                                   aria-controls="Three" aria-selected="false">Three</a>
                            </li>
                        </ul>
                    </div>

                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active p-3" id="one" role="tabpanel" aria-labelledby="one-tab">
                            <h5 class="card-title">Tab Card One</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                                the card's content.</p>
                            <a href="#">
                                <button class="btn btn-primary" type="button">Go somewhere</button>
                            </a>
                        </div>
                        <div class="tab-pane fade p-3" id="two" role="tabpanel" aria-labelledby="two-tab">
                            <h5 class="card-title">Tab Card Two</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                                the card's content.</p>
                            <a href="#">
                                <button class="btn btn-primary" type="button">Go somewhere</button>
                            </a>
                        </div>
                        <div class="tab-pane fade p-3" id="three" role="tabpanel" aria-labelledby="three-tab">
                            <h5 class="card-title">Tab Card Three</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                                the card's content.</p>
                            <a href="#">
                                <button class="btn btn-primary" type="button">Go somewhere</button>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
            </div>
</div>
{% endblock %}