{% extends "base_template.html" %}
{% block title %}Login{% endblock %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<div class="container py-3">
    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 400px;">
            {% if messages %}
            {% for message in messages %}
            <ul class="messages">
                {% for message in messages %}
                {% if message.tags == "error" %}
                <p class="text-danger text-center">{{ message }}</p>
                {% else %}
                <p class="text-{{ message.tags }} text-center">{{ message }}</p>
                {% endif %}
                {% endfor %}
            </ul>
            {% endfor %}
            {% endif %}
            <h4 class="card-title mt-3 text-center">Create Account</h4>
            <p class="text-center">Get started with your free account</p>
            {% crispy registration_form %}
            <p class="divider-text">
                <span class="bg-light">OR</span>
            </p>
            <h4 class="card-title my-3 text-center">Sing in</h4>
            <p style="line-height: 50%;">
                <a href="{% url 'social:begin' 'twitter' %}">
                    <button class="btn btn-block btn-twitter"><i class="fab fa-twitter"></i>   Login via Twitter
                    </button>
                </a>
                <br><a href="{% url 'social:begin' 'facebook' %}">
                <button class="btn btn-block btn-facebook"><i class="fab fa-twitter"></i>   Login via facebook</button>
            </a>
                <br><a href="#" onclick="showSignIn();return false;">
                <button class="btn btn-block btn-dark"><i class="fab"></i>   Login via username</button>
            </a>
            </p>
            <script>
							function showSignIn() {
							  var x = document.getElementById("login_username");
							  if (x.style.display === "none") {
								x.style.display = "block";
							  } else {
								x.style.display = "none";
							  }
							}
            </script>
            <br>
            <div id="login_username" style="display:none;">
                {% crispy login_form %}
                <p class="text-center"><input type="checkbox" class="checkbox" name="remember_me">Keep me signed in</p>
                <p class="text-center"><a href="">Forgot password?</a></p>
            </div>
        </article>
    </div> <!-- card.// -->
</div>
<!--container end.//-->
{% endblock %}