<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}

    <!-- Favicon  -->
    <link rel="icon" href="{% static 'img/core-img/favicon.ico' %}">
    <link rel="shortcut icon" href="{% static 'images/ico/favicon.ico' %}">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="{% static 'css/core-style.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
</head>

<body>
    <header class="header_area">
        <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
            <!-- Classy Menu -->
            <nav class="classy-navbar" id="essenceNav">
                <!-- Logo -->
                <a class="nav-brand" href="{% url 'index' %}"><img src="{% static 'img/home/logo.png' %}" alt=""></a>
                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>
                <!-- Menu -->
                <div class="classy-menu">
                    <!-- close btn -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>
                    <!-- Nav Start -->
                    <div class="classynav">
                        <ul>
                            <li><a href="#">Shop</a>
                                <div id="mega" class="megamenu">
                                    <ul class="single-mega col-lg-2 cn-col-5 col-12 col-md-12">
                                        <li id="menu_title"><a href="#">Technology</a></li>
                                        <li><a href="#">Television & Accessories</a></li>
                                        <li><a href="#">Phones</a></li>
                                        <li><a href="#">Laptops & PCs</a></li>
                                        <li><a href="#">Printers & Home Office</a></li>
                                        <li><a href="#">PlayStation</a></li>
                                        <li><a href="#">Cameras</a></li>
                                    </ul>
                                    <ul class="single-mega col-lg-2 cn-col-5 col-12 col-md-12">
                                        <li id="menu_title"><a href="#">Home & Furniture</a></li>
                                        <li><a href="#">Furniture By Room</a></li>
                                        <li><a href="#">Bedding</a></li>
                                        <li><a href="#">Lighting</a></li>
                                        <li><a href="#">Tableware</a></li>
                                        <li><a href="#">Storage</a></li>
                                        <li><a href="#">Bathroom</a></li>
                                    </ul>
                                    <ul class="single-mega col-lg-2 cn-col-5 col-12 col-md-12">
                                        <li id="menu_title"><a href="#">Appliances</a></li>
                                        <li><a href="#">Cooking</a></li>
                                        <li><a href="#">Fridges & Freezers</a></li>
                                        <li><a href="#">Vacuum Cleaners & Floorcare</a></li>
                                        <li><a href="#">Grilling & Toasting</a></li>
                                        <li><a href="#">Kettles, Microwaves & Toasters</a></li>
                                        <li><a href="#">Blenders & Processing</a></li>
                                    </ul>
                                    <ul class="single-mega col-lg-2 cn-col-5 col-12 col-md-12">
                                        <li id="menu_title"><a href="#">Toys</a></li>
                                        <li><a href="#">Creative & Science</a></li>
                                        <li><a href="#">Outdoor toys</a></li>
                                        <li><a href="#">Shop Toys by Age</a></li>
                                        <li><a href="#">Baby & Preschool</a></li>
                                        <li><a href="#">Wheeled Toys</a></li>
                                        <li><a href="#">Toy Vehicles</a></li>
                                    </ul>
                                    <ul class="single-mega col-lg-2 cn-col-5 col-12 col-md-12">
                                        <li id="menu_title"><a href="#">Clothing</a></li>
                                        <li><a href="#">Womens Clothing</a></li>
                                        <li><a href="#">Mens Clothing</a></li>
                                        <li><a href="#">Girls Clothing</a></li>
                                        <li><a href="#">Boys Clothing</a></li>
                                        <li><a href="#">Baby Clothing</a></li>
                                        <li><a href="#">Uniforms</a></li>
                                    </ul>
                                    <ul class="single-mega col-lg-2 cn-col-5 col-12 col-md-12">
                                        <li id="menu_title"><a href="#">Garden & DIY</a></li>
                                        <li><a href="#">Garden Furniture</a></li>
                                        <li><a href="#">Garden Power Tools</a></li>
                                        <li><a href="#">BBQs</a></li>
                                        <li><a href="#">Garden Hand Tools</a></li>
                                        <li><a href="#">Home Security</a></li>
                                        <li><a href="#">DIY Power Tools</a></li>
                                    </ul>
                                    <ul class="single-mega col-lg-2 cn-col-5 col-12 col-md-12">
                                        <li id="menu_title"><a href="#">Health & Beauty</a></li>
                                        <li><a href="#">Hair Care</a></li>
                                        <li><a href="#">Mens Shaving & Grooming</a></li>
                                        <li><a href="#">Womens Hair Removal</a></li>
                                        <li><a href="#">Skincare & Beauty</a></li>
                                        <li><a href="#">Dental</a></li>
                                        <li><a href="#">Makeup</a></li>
                                    </ul>
                                    <ul class="single-mega col-lg-2 cn-col-5 col-12 col-md-12">
                                        <li id="menu_title"><a href="#">Baby & Nursery</a></li>
                                        <li><a href="#">Toys</a></li>
                                        <li><a href="#">Travel</a></li>
                                        <li><a href="#">Health & Safety</a></li>
                                        <li><a href="#">Sleep Aids</a></li>
                                        <li><a href="#">Bathing & Changing</a></li>
                                        <li><a href="#">Feeding & Weaning</a></li>
                                    </ul>
                                    <ul class="single-mega col-lg-2 cn-col-5 col-12 col-md-12">
                                        <li id="menu_title"><a href="#">Sports & Leisure</a></li>
                                        <li><a href="#">Fitness Technology</a></li>
                                        <li><a href="#">Fitness & Gym</a></li>
                                        <li><a href="#">Cycling</a></li>
                                        <li><a href="#">Weight Training</a></li>
                                        <li><a href="#">Luggage & Travel</a></li>
                                        <li><a href="#">Sports Equipment</a></li>
                                    </ul>
                                    <ul class="single-mega col-lg-2 cn-col-5 col-12 col-md-12">
                                        <li id="menu_title"><a href="#">Jewellery & Watches</a></li>
                                        <li><a href="#">Womens Jewellery</a></li>
                                        <li><a href="#">Mens Jewellery</a></li>
                                        <li><a href="#">Watches</a></li>
                                        <li><a href="#">Womens Rings</a></li>
                                        <li><a href="#">Kids Jewellery</a></li>
                                        <li><a href="#">Gifts</a></li>
                                    </ul>
                                    <ul class="single-mega col-lg-2 cn-col-5 col-12 col-md-12">
                                        <li id="menu_title"><a href="#">Gifts</a></li>
                                        <li><a href="#">Gifts For...</a></li>
                                        <li><a href="#">Gifts By Price</a></li>
                                        <li><a href="#">Gift Cards</a></li>
                                        <li><a href="#">Party Decorations</a></li>
                                        <li><a href="#">Food & Drink</a></li>
                                        <li><a href="#">Candles, Ornaments & Gift Sets</a></li>
                                    </ul>
                                    <div class="single-mega col-lg-2 cn-col-5 col-12 col-md-12">
                                        <img src="{% static 'img/bg-img/bg-6.jpg' %}" alt="">
                                    </div>
                                </div>
                            </li>
                            <li><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="shop.html">Shop</a></li>
                                    <li><a href="single-product-details.html">Product Details</a></li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="single-blog.html">Single Blog</a></li>
                                    <li><a href="regular-page.html">Regular Page</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                    <!-- Nav End -->
                </div>
            </nav>

            <!-- Header Meta Data -->
            <div class="header-meta d-flex clearfix justify-content-end">
                <!-- Search Area -->
                <div class="search-area">
                    <form action="#" method="post">
                        <input type="search" name="search" id="headerSearch" placeholder="Type for search">
                        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                </div>
                <!-- Favourite Area -->
                <div class="favourite-area">
                    <a href="#"><img src="{% static 'img/core-img/heart.svg' %}" alt=""></a>
                </div>
                                <!-- Cart Area -->
                <div class="cart-area">
                    <a href="#" id="essenceCartBtn"><img src="{% static 'img/core-img/bag.svg' %}" alt=""> <span id="cart-qty">{% if cart %}{{ cart.get_cart_qty }}{% endif %}</span></a>
                </div>
                <!-- User Login Info -->
                <div class="user-login-info dropdown">
                        {% if user.is_authenticated %}
                    <a id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                       href="{% url 'profile' %}">
                        {% if backends.associated %}
                            {% if user.is_authenticated %}
                                {% for ass in backends.associated %}
                                    {% if ass.provider == 'facebook' %}
                                    <img src="{{ass.extra_data.picture.data.url}}" alt=""
                                         style="border-radius: 50%;">
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                            <img src="{% static 'img/core-img/user.svg' %}" alt="">
                            {% endif %}
                        {% else %}
                        <img src="{% static 'img/core-img/user.svg' %}" alt="">
                        {% endif %}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu">
                        <a class="dropdown" href="{% url 'profile' %}">Profile</a>
                        <a class="dropdown" href="{% url 'logout' %}">Logout</a>
                        <a class="dropdown" href="{% url 'logout' %}">Logout</a>
                        <a class="dropdown" href="{% url 'logout' %}">Logout</a>
                        <a class="dropdown" href="{% url 'logout' %}">Logout</a>
                    </div>
                    {% else %}
                    <a href="{% url 'profile' %}">
                    <img src="{% static 'img/core-img/user.svg' %}" alt=""></a>
                    {% endif %}
                </div>

            </div>

        </div>
    </header>

    {% include "cart/right_side.html" %}

   {% block content %}
        Body content
   {% endblock %}

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer_area clearfix">
        <div class="container">
            <div class="row">
                <!-- Single Widget Area -->
                <div class="col-12 col-md-6">
                    <div class="single_widget_area d-flex mb-30">
                        <!-- Logo -->
                        <div class="footer-logo mr-50">
                            <a class="nav-brand" href="{% url 'index' %}"><img src="{% static 'img/home/logo.png' %}" alt=""></a>
                        </div>
                        <!-- Footer Menu -->
                        <div class="footer_menu">
                            <ul>
                                <li><a href="shop.html">Shop</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Single Widget Area -->
                <div class="col-12 col-md-6">
                    <div class="single_widget_area mb-30">
                        <ul class="footer_widget_menu">
                            <li><a href="#">Order Status</a></li>
                            <li><a href="#">Payment Options</a></li>
                            <li><a href="#">Shipping and Delivery</a></li>
                            <li><a href="#">Guides</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms of Use</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row align-items-end">
                <!-- Single Widget Area -->
                <div class="col-12 col-md-6">
                    <div class="single_widget_area">
                        <div class="footer_heading mb-30">
                            <h6>Subscribe</h6>
                        </div>
                        <div class="subscribtion_form">
                            <form action="#" method="post">
                                <input type="email" name="mail" class="mail" placeholder="Your email here">
                                <button type="submit" class="submit"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Single Widget Area -->
                <div class="col-12 col-md-6">
                    <div class="single_widget_area">
                        <div class="footer_social_area">
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Youtube"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>

<div class="row mt-5">
                <div class="col-md-12 text-center">
                    <p>
    Copyright &copy; 2019-<script>document.write(new Date().getFullYear());</script> All rights reserved
                    </p>
                </div>
            </div>

        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->

    <script>
    {% if messages %}
        {% for message in messages %}
        alert("{{ message }}");
        {% endfor %}
    {% endif %}
    </script>

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- Plugins js -->
    <script src="{% static 'js/plugins.js' %}"></script>
    <!-- Classy Nav js -->
    <script src="{% static 'js/classy-nav.min.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'js/active.js' %}"></script>

	<script src="{% static 'js/main.js' %}"></script>

</body>

</html>