{% extends "base_template.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
{% load static %}

<section id="form"><!--form-->
		<div class="container">
			<div class="row">
				<h1>Your cart</h1>
				{% if order.id %}

				<div class="companyinfo" id="cart_head">
					<h2>
						{% if messages %}
							<span >
								<div id="cart_messages">{% for message in messages %}
									{{ message }}
									{% endfor %}</div>
							</span>
						{% endif %}
					</h2>
				</div>
				<div class="cart_summary" id="cart_summary">
					<form method="POST" id="post-form">
						{% csrf_token %}
						<table id="cart_table">
						{% for item in order.get_cart_items %}
							<tr id="cart_row{{ item.id }}">
								<td><img src="{{ item.product.image.url }}"/></td>
								<td>{{ item.product.name }}</td>
								<td>
								<div onclick="decreaseValue({{ item.id }})" class="btn btn-default" value="-">-</div><input onchange="updateValue({{ item.id }})" type="text" required
		   minlength="1" maxlength="3" size="2" value="{{ item.amount }}" id="item{{ item.id }}"><div onclick="increaseValue({{ item.id }})" class="btn btn-default" value="+">+</div>
								</td>
								{% if item.amount > 1 %}
								    <td class="cart_summary_money"><div id="item_total_value{{ item.id }}">{{ item.get_item_total }}</div><span id="apiece_value{{ item.id }}">{{ item.product.price }} apiece</span></td>
								{% else %}
								    <td class="cart_summary_money"><div id="item_total_value{{ item.id }}">{{ item.product.price }}</div><span id="apiece_value{{ item.id }}"></span></td>
								{% endif %}
								<td><a id="delete_item" title="Click to delete item from cart" href="#" onclick="removeItem({{ item.id }}); return false;">Delete item</a></td>
							</tr>
							{% endfor %}
							<tr>
								<td></td>
								<td></td>
								<td style="text-align:right;padding-right:0px;">To pay:</td>
								<td class="cart_summary_money"><div id="cart_total_value">{{ order.get_cart_total }}</div></td>
								<td></td>
							</tr>
						</table>
					</form>
				</div>
				{% else %}
				<p>Your cart is empty</p>
				{% endif %}
				<p id="deleted_cart"></p>
			</div>
		</div>
	</section>
{% endblock %}

