{% extends "base_template.html" %}
{% block title %}Hello Page{% endblock %}
{% block content %}
{% load static %}

<section id="form"><!--form-->
		<div class="container">
			<div class="row">
				{% for message in messages %}
				{{ message }}
				{% endfor %}
				<div class="col-sm-4 col-sm-offset-1">
					<div class="login-form"><!--login form-->
						<h2>Login to your account</h2>
						<form method="POST">
                            {% csrf_token %}
							{{ login_form }}
							<span>
								<input type="checkbox" class="checkbox" name="remember_me">
								Keep me signed in
							</span>
							<button type="submit" class="btn btn-default" name="login">Login</button>
						</form>
					</div><!--/login form-->
				</div>
				<div class="col-sm-1">
					<h2 class="or">OR</h2>
				</div>
				<div class="col-sm-4">
					<div class="signup-form"><!--sign up form-->
						<h2>New User Signup!</h2>
						<form method="POST">
							{% csrf_token %}
							{{ registration_form }}
							<button type="submit" class="btn btn-default" name="register">Signup</button>
						</form>

					</div><!--/sign up form-->
				</div>
			</div>
		</div>
	</section><!--/form-->

{% endblock %}